/* Import Google Fonts at the beginning */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800;900&display=swap');

body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    transition: background-color 0.3s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.poem {
    line-height: 40px;
    font-size: 45px;
    text-align: center;
}

.space-line {
    margin-bottom: 20px;
}

.blank-line {
    height: 20px;
}

.poem span {
    display: inline-block;
    transition: color 0.3s;
}

.left-justified {
    text-align: left;
}

.right-justified {
    text-align: right;
}

/* Styles for the chat button */
.chat-button {
    display: block;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.chat-button:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Media query for tablets and larger phones */
@media only screen and (max-width: 768px) {
    .poem {
        font-size: 24px;
        line-height: 30px;
    }

    .chat-button {
        display: block;
        padding: 10px 20px;
        margin: 20px auto;
        background-color: #ffffff;
        color: #000000;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
    }

    .chat-button:hover {
        background-color: #000000;
        color: #ffffff;
    }

    .poem span {
        transition: color 0.2s;

    }
}

/* Media query for smaller phones */
@media only screen and (max-width: 480px) {
    .poem {
        font-size: 18px;

        line-height: 24px;

    }
    .poem span {
        transition: color 0.1s;
    }
}